accelerate
annotated-types
anyio
bitmath
bitsandbytes
cachetools
certifi
charset-normalizer
docstring_parser
exceptiongroup
filelock
fsspec
gcloud
git-filter-repo
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
google-generativeai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
iso-639
Jinja2
MarkupSafe
mpmath
networkx
numpy
oauth2client
packaging
pillow
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pydantic
pydantic_core
pymkv
pyparsing
python-dateutil
python-dotenv
PyYAML
regex
requests
rsa
safetensors
scipy
shapely
six
sniffio
sympy
tenacity
tokenizers
torch
tqdm
transformers
typing-inspection
typing_extensions
uritemplate
urllib3
websockets
